<div class="datos-resultadosclinicos" *ngIf="resultadoclinico">
    <p>
        Nombre del Paciente: {{resultadoclinico.nombrepaciente}}
    </p>

    <p>
        ID de la Muestra: {{resultadoclinico.id}}
    </p>

    <p>
        Fecha del Resultado: {{resultadoclinico.fecharesultado}}
    </p>

    <p>
        Resultado: {{resultadoclinico.resultado}}
    </p>

    <p>
        Tipo de Test: {{resultadoclinico.test}}
    </p>

    <button (click) = "modificar()">
        MODIFICAR
    </button>
</div>